<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hngr - recipe manager</title>
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/base-css/reset.css" />
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="/static/script.js" defer></script>
  </head>
  <body>
    <div class="container p-2 mx-auto">{% block content %}{% endblock %}</div>
  </body>
</html>
