{% extends "base.html" %} {% block content %}
<a href="/">Back to main page</a>

<main>
  <header class="recipe-content">
    <div class="recipe-content-item-1"></div>
    <div class="recipe-content-item-2">
      <a href="/recipe/{{ recipe.id }}/edit">Edit recipe</a>
      <heading>
        <h1>{{ recipe.name }}</h1>
      </heading>
      {% if recipe.description %}
      <div class="spacer-1"></div>
      <p>{{ recipe.description }}</p>
      {% endif %} {% if recipe.source %}
      <div class="spacer-1"></div>
      <p>Originally from <a href="{{ recipe.source }}">{{ recipe.source_label }}</a></p>
      <div class="spacer-1"></div>
      {% endif %}
      {% if recipe.image %}
      <div class="spacer-1"></div>
        <img src="{{ recipe.image }}" alt="Preview {{ recipe.name }}" width="800" height="500" />
      <div class="spacer-1"></div>
      {% endif %}
    </div>
  </header>

  <div class="recipe-content">
    <section class="recipe-content-item-1">
      <h2>Ingredients</h2>
      <div class="spacer-1">
      <ul>
        {% for ingredient in recipe.ingredients.split('\n') %}
        <li>{{ ingredient }}</li>
        {% endfor %}
      </ul>
    </section>

    <section class="recipe-content-item-2">
      <h2>Directions</h2>
      <div class="spacer-1">
      <ol>
        {% for step in recipe.directions.split('\n') %}
        <li>{{ step }}</li>
        {% endfor %}
      </ol>
    </section>
  </div>
</main>
{% endblock %}
